@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Frank+Ruhl+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');



html{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-size: cover;
}

*,*:before,
*:after{
       box-sizing: inherit;
       padding: 0;
       margin: 0;
}

.header{
    background-color: black;
    width: 100%;
    height: 100%;
    background-size: cover;
    position:relative;
    background-attachment: fixed;
}

.menu{
    color: white;
    height: 100%;
}

.menu-heading{
    text-align: center;
    padding: 2vw;
    font-size: 3vw;
    padding-top: 4vw;
    padding-bottom: 6vw;
    font-size: 4em;
}

.menu-wrapper{
    padding-top: 2vw;
}


.tabs{
   text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    background-color: white;
}
.tabs-nav{
    list-style: none;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    z-index: 18;
   
}

.tabs-nav > li{
    display: inline-block;
    list-style: none;
   
}

.tabs-nav >li:hover{
    background-color:rgb(145, 134, 134);
}

.tabs-nav >li.active{
    background-color:rgb(145, 134, 134);
}


.tabs-nav >li >a{
    font-size: 1.4em;
    text-decoration: none;
    color: black;
}



.pdf{
    width: fit-content;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid red;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 1.6em;
    background-color: rgb(0, 0, 0);
}

.pdf:hover{
    background-color: rgb(95, 74, 74);
}

.pdf>a{
    color: white;
    text-decoration: none;
}

.pdf> a:hover{
    color: black;
}
.container{
    padding-top: 10px ;
}
.row{
    padding-left: 20px;
    padding-right: 20px;
}
.menu-section-title{
    font-size: 2.2em ;
    border-bottom: 1px solid wheat;
    padding-top: 60px;
}

.menu-item-heading{
    padding-top: 30px;
    font-size: 1.4em;
    padding-bottom: 5px;
  
}

.menu-item{
   list-style: none;
}

.menu-item >p{
   margin-bottom: 0px;
}









.navigation{
    width: 100px;
    height: 50px;
    display: block;
    position: absolute;
    padding-right: 40px;
    top: 0;
    left: 0;
    perspective: 800;
    border-radius: 0% 0% 0% 0%;
    transition: all 800ms cubic-bezier(.9,0,.33,.1);
    position: fixed;
    z-index: 16;
}

.logo {
    width: 70px;
    height: 70px;
    display: block;
    position: absolute;
    top: 8%;
    left: 15%; 
    cursor: pointer;  
    transform-style: preserve-3d;   
    transform: rotateY(-360deg);   
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
  }

.navigation-icon{
    width: 55px;
    height: 44px;
    display: block;
    position: relative;
    top:3%;
    left:35%;
    cursor: pointer;
    transition: all 800ms cubic-bezier(.9,0,.33,.1);
    z-index: 17;
}

.navigation-icon .topbar{
    position: absolute;
    top: 10px;
    width: 55px;
    height: 2px;
    background: rgb(250, 170, 23);
    transform: rotate(0);
    transition: all 800ms cubic-bezier(.9,0,.33,.1);
}

.navigation-icon .middlebar{
    position: absolute;
    top: 20px;
    width: 55px;
    height: 2px;
    background: rgb(250, 170, 23);
    transform: rotate(0);
    transition: all 800ms cubic-bezier(.9,0,.33,.1);
}

.navigation-icon .bottombar{
    position: absolute;
    top: 30px;
    width: 35px;
    height: 2px;
    background: rgb(250, 170, 23);
    transform: rotate(0);
    transition: all 800ms cubic-bezier(.9,0,.33,.1);
}

.navigation .navigation_ul{
    position: absolute;
    top:40%;
    right: 20%;
    opacity: 0;
    transform: rotateY(-90deg) translateX(-300px);
    transition: all 800ms cubic-bezier(.9,0,.33,.1); 
}

.navigation .navigation_ul li{
    list-style: none;
    text-align: right;
}

.navigation .navigation_ul a{
    display: block;
    font-size: 3vh;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color: wheat;
    margin-bottom: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}

.navigation_ul li:nth-child(5) a{
     color: rgb(240, 247, 244);
}

.navigation-open{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: rgb(46, 2, 2);
    border-radius: 0% 1% 1% 0%;
    position: fixed;
    z-index: 12;
    
}

.navigation-open .navigation-icon{
    left: 80%;
    top: 3%;
}

.navigation-open .topbar{
    width: 55px;
    top: 21px;
    transform: rotate(45deg);
}

.navigation-open .middlebar{
  width: 0;
  top: 22px;
  opacity: 0;
  visibility: hidden; 
  transform: translateX(30px);
}

.navigation-open .bottombar{
    width: 55px;
    top: 21px;
    transform: rotate(-45deg);
}

.navigation-open .navigation_ul{
    transform: rotateY(0) translateX(0);
    opacity: 1;
    visibility: visible;
    position: absolute;
    top:40%;
    right: 20%;
}


.footer{
    height: 50px;
    background: rgb(68, 5, 5);
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.footer img{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 8px;
}

.footer > .name{
    margin-right: 15px;
    color: rgb(189, 176, 176);
    margin-left: 15px;
    margin-top: 10px;
    font-size: 1.88vw;
    font-family: 'Oswald', sans-serif;
}

































































@media only screen and (min-width: 1480px) {


    .footer > .name{
        margin-right: 15px;
        color: rgb(189, 176, 176);
        margin-left: 15px;
        margin-top: 0px;
        font-size: 1.18vw;
        font-family: 'Oswald', sans-serif;
    }
    
    
    

}
